*{
  font-family: arial;
  margin:0;
  box-sizing: border-box;
}    
button{
    background-color: transparent;
    color:white;
}
/*                                                            Header                                                                      */

    /*               Navbar Main                      */
.navbar_main{
    width: 100%; 
    height: 48px;
    background-color:#131921;
    display:flex;
    color:white;
    justify-content: space-around;
    align-items:center;
    padding:5px;
    flex-wrap: wrap;
}
.logo{
    height:36px;
    width:100%;
    background-image: url("Amazon-Logo-White-PNG-Image.png");
    background-size: cover;
}
.nav_logo{
    width: 100px;
    height:36px;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
.add-first{
    font-family:roboto;
    font-size: 10px;
    margin-left:12px;
}
.add-second{
    font-size:1rem;
    margin-left:3px;
}
.icon{
    display:flex;
    align-items:center;
}
.nav-search{
    display:flex;
    width: 100%;
    max-width: 950px; 
}
.search-select{
    border:none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    width:59px;
    text-align:center;
    background-color: #e2e7e6;
}
.search-bar{
    width:100%;
    height:40px;
}
.search-logo{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    background-color:rgba(255, 204, 0, 0.663);
    align-content:center;
    font-size:15px;
    width:60px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.flag-icon{
    background-image: url("download.png");
    background-size:cover;
    width:32px;
    height:20px;
}
.lan-select{
    border:none;
    color:white;
    font-weight:bold;
    background-color:transparent;
}
.nav-ln{
    display:flex;
    position:relative;
}
.al{
    border:none;
    color: white;
    background-color: transparent;
}
.nav-cart{
    display:flex;
}
.nsh{
    margin:6px;
}
.menu{
    display:flex;
    width:40px;
}
.nav-signin{
    display:flex;
    flex-direction: column;
}
   /*                           Secondary Navbar                                    */
.nav-secondary{
    display:flex;
    width:100%; 
    background-color:#232f3e;
    align-items:center;
    justify-content:space-around;
    color:white;
    height:30px;
    padding:3px;
    flex-wrap: wrap; 
}
.menu-icon{
    width:20px;
}
.gstore{
    flex-grow:0.9;
    display:flex;
    justify-content: end;
    font-size:20px;
}
.td{
    font-size:20px;
}
/*                                                              main                                                                       */
main{
    background-color:#e2e7e6;
}
.main-ad{
    background-image: url("mainbg.jpg");
    background-size: cover;
    width:100%; 
    height:480px;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
    z-index: 1;
}

.head-li{
    background-color:rgb(255, 255, 255);
    color:black;
    width:96%;
    height:35px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:193px;
    font-size:15px;
}
.row1{
    height:auto;
    width:100%; 
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding:10px;
    position:relative;
    bottom:150px;
    z-index: 1;
    gap:50px 0px;
}
.box-img {
    width: 10em;
    height: 109px;
    background-size: cover;
    background-position: center;
}
.column1{
    width:100%;
    height:auto; 
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    
}
.column{
    width:100%; 
    max-width: 24%; 
    height:386px;
    background-color: white;
    padding:10px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;

    
}   
.box-img2{
    height:254.48px;
    background-size: cover;
   
}
.column-s{
    height:250px;
    width:100%;
    background-color: white;
    display:flex;
    flex-direction: column;
}
.column-s1{
    display:flex;
    overflow-x:auto;
}
/*                                                                footer                                                                  */
.container{
    height: auto;
    width: 100%;
    background-color:#232F3E;
    display:flex;
    justify-content:center;
    padding-top:30px;
    flex-wrap: wrap; 
    padding-bottom:20px;
}
.fmenu{
    display:flex;
    flex-direction: column;
    gap:10px;
    height: 40px;
    color: white;
    font-size: 15px;
    width:230px;
    height:60%;
}
.fmenu2{
    width:100%;
    height:100px;
    border-top:0.5px solid white;
    background-color: #232F3E;
    display:flex;
   padding-left:350px;
    align-items: center;
    gap: 5px;
    color:rgba(240, 248, 255, 0.326)
}
.f-icon{
    height:100%;
    width:150px;
    background-image: url("Amazon-Logo-White-PNG-Image.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 18px;
}
.fbox{
    width: 240px;
    height:64px;
}
.fbox1{
    width:115px;
    display:flex;
    border:2px solid rgba(240, 248, 255, 0.326);
    height:32px;
    justify-content: space-around;
    align-items: center;
}
.fbox3{
    width:145px;;
    display:flex;
    border:2px solid rgba(240, 248, 255, 0.326);
    height:32px; 
    justify-content: space-around;
    align-items: center;
}
.fbox4{
    width:130px;
    border:2px solid rgba(240, 248, 255, 0.326);
    display:flex;
    height:32px;
    justify-content: space-around;
    align-items: center;
}
.cicon{
    background-image:url("download.png");
    background-size: cover;
    width:20px;
    height:17px;
}
 
.fmenu3{
    width:100%;
    height:auto; 
    background-color: #131A22;
    display:flex;
    padding-top:40px;
    flex-direction: column;
    align-items: center;
    gap:40px;
}
.fr{
    width:100%;
    max-width: 60%; 
    height:80%;
    display:flex;
    flex-wrap:wrap;
    gap:20px 0px;
    
}
.fc{
    width:100%; 
    max-width: 14.1%; 
    height:24%;
}
.fc a{
    color:rgba(255, 255, 255, 0.437);
    text-decoration:none;
    font-size: 10px;
    font-weight: lighter;
}
.fc strong{
    color:white
    
}
.pc{
    display:flex;
    color:white;
    width:100%;
    max-width: 45%; 
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin-right: 88px;
}
.pc a{
    color:white;
    text-decoration:none;
    font-size: 12px;
}
.link_u a{
    text-decoration:none;
}
.link_u a:hover{
    text-decoration:underline;
}
.fmenu a{
    color:white;
    text-decoration:none;
}
<!-------------------------------------------------------Add_ons------------------------------------------------------------------------->
select{
    background-color: transparent;
}
body{
    max-width:1530px;
}
html{
    display: flex;
    justify-content: center;
    background-color: #000000;
}
.btt{
    background-color:#37475a ;
    display: flex;
    justify-content: center;
    height:40px;
    align-items: center;
}
.btt a{
    color: white;
    text-decoration: none;
}
.dialogue-box{ 
    width:240px;
    height:500px;
    background-color: rgb(241, 236, 236);
    position: absolute;
    top:40px;
    z-index:5;
    display:none;
    color:black;
}
  .tail{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 0.5cm;
    border-right-width: 0.5cm;
    border-bottom: 0.866cm solid white;
    position: absolute;
    top: -15px;
  }
  .nav-ln{
    position: relative;
  }
  .nav-ln:hover .dialogue-box,.nav-ln .dialogue-box:hover{
         display:block;
  }
.dmain{
    position: absolute;
    background-color: white;
    width:100%;
    height:100%;
    z-index: 4;
    padding-top:30px;
    padding-left: 10px;
}
.dmain :first-child{
    display:flex;
    gap:20px;
    margin-bottom:10px;
}
label{
    display: flex;
    gap:21px;
}
label input{
    accent-color: orange;
}
.ccu{
    display: flex;
    gap:20px;
    padding-top:3px;
}
.ccu1{
    display:flex;
    gap:20px;
    padding-top:10px;
    margin-bottom:8px;
}
.cc{
    display: flex;
    justify-content: center;
    padding-top:5px
}
.bordermk{
    height:25px;
    border-top:2px solid rgba(128, 128, 128, 0.197);
    margin-right:20px;
}
.dmain a{
    color:blue;
}

form{
    display:flex;
    flex-direction: column;
    gap:15px;
    margin-bottom:8px;
}
